.options{
    width: 450px;

    div{
        border-radius: 12px;
        border-width: 2px;
        border-color: #EAEAEA;
    }
    input {
        padding: 4px 8px 4px 8px;
    }
    
    span{
        background-color: #EAEAEA;
        color: black;
        img{
            background-color: #777777;
            border-radius: 999px;
            scale: 1.2;
        }
    }
    li{
        background-color: white;
        color:black;       
    }
}